@tailwind base;
@tailwind components;
@tailwind utilities;

@import './_variables.scss';

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	@apply font-sans;
}

body {
	@apply bg-background text-foreground text-md;

	min-width: 320px;
	min-height: 100dvh;
}
